{
  "printWidth": 200,
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^@utils/(.*)$",
    "^@apis/(.*)$",
    "^@hooks/(.*)$",
    "^@recoils/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@base/(.*)$",
    "^@common/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^[./]"
  ]
}
